/* Graph SVG */
svg.mv-visualizer {
  font: 400 14px "Helvetica Neue", Helvetica;
}

svg.mv-visualizer text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg.mv-visualizer text::selection {
  background: none;
}



/* Tooltips */

.mv-tooltip {
  font-size: 1.2em;
  font-weight: 400;

  position: absolute;
  text-align: left;

  padding: 10px 12px;

  background: #2c3e50;
  color: #ecf0f1;

  border: 0px;
  border-radius: 3px;

  pointer-events: none;
}

.code {
  display: inline-block;

  font-size: 0.9em;

  padding: 3px 6px;
  margin-top: 3px;

  border: 0px;
  border-radius: 3px;

  font-family: monospace;
  background-color: #ecf0f1;
  color: #e74c3c;
}

/* Visualizer view and edit mode */

.mv-visualizer .node > rect {
  fill: #b5d4e9;
  stroke: #000;
}

.mv-visualizer .node-label {
  fill: #000;
  font-size: 1.2em;
  font-weight: 400;
}

.mv-visualizer .node-start > rect {
  fill: #b7e2b1;
}

.mv-visualizer .node-fake {
  fill: #ecf0f1;
}

.mv-visualizer .node-fake > rect {
  fill: #3498db;
}

.mv-visualizer .node-blocked {
  font-weight: 400;
}

.mv-visualizer .node-blocked > rect {
  fill: #7f8c8d;
}

.mv-visualizer .edgeLabels {
  font-size: 1.2em;
  font-weight: 400;
}

.mv-visualizer .edgePath path {
  stroke: #999;
  fill: #999;
  stroke-width: 2.5px;
}

/******/


.mv-viewmode {
  width: 100%;
  height: 100%;
}

/** Visualizer in editmode **/

.mv-editmode {
  width: 100%;
  height: 100%;
}

.mv-editmode .mv-editor {
  float: right;
  width: 30%;
  min-width: 150px;
  padding-right: 10px;
}

.mv-editmode .mv-visualizer .node > rect:hover {
  stroke-width: 1.75;
  fill: #17becf!important;
  cursor: pointer;
}

.mv-editmode .mv-visualizer .node.edit rect {
  stroke-width: 1.75;
  fill: #17becf!important;
}


.mv-editmode .mv-visualizer .edgePath:hover path {
  cursor: pointer;
  fill: rgb(31, 43, 56);
  stroke: rgb(31, 43, 56);
}

.mv-editmode .mv-visualizer .edgePath.edit path {
  stroke: rgb(31, 43, 56);
  fill: rgb(31, 43, 56);
  font-weight: 600;
}
.mv-editmode .mv-visualizer .edgeLabels .label :hover {
  cursor: pointer;
  font-weight: 600;
  fill: rgb(31, 43, 56);
}
.mv-editmode .mv-visualizer .edgeLabels .label.edit {
  fill: rgb(31, 43, 56);
  font-weight: 600;
}

.mv-editmode .mv-visualizer .dynamicPath {
  fill: rgb(31, 43, 56);
  stroke: rgb(31, 43, 56);
  stroke-width: 3px;
}
.mv-editmode .mv-visualizer .dynamicPath.hidden {
  stroke-width: 0;
}