/* Graph SVG */
svg.mv-visualizer {
  font: 400 14px "Helvetica Neue", Helvetica;
}

svg.mv-visualizer text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg.mv-visualizer text::selection {
  background: none;
}
.node rect {
  fill: #f1c40f;

  stroke: #2c3e50;
  stroke-width: 2px;
}

g.node-label {
  fill: #000;
  font-size: 1.2em;
  font-weight: 400;
}

g.node-start > rect {
  fill: #27ae60;
}

g.node-fake {
  fill: #ecf0f1;
}

g.node-fake > rect {
  fill: #3498db;
}

g.node-blocked {
  font-weight: 600;
}

g.node-blocked > rect {
  fill: #7f8c8d;
}

g.edgeLabels {
  font-size: 1.2em;
  font-weight: 400;
}

.edgePath path {
  fill: #7f8c8d;

  stroke: #7f8c8d;
  stroke-width: 2px;
}

path.dynamicPath {
  fill: #7f8c8d;

  stroke: #7f8c8d;
  stroke-width: 2px;
}
path.hidden {
  stroke-width: 0;
}

/* Tooltips */

.mv-tooltip {
  font-size: 1.2em;
  font-weight: 400;

  position: absolute;
  text-align: left;

  padding: 10px 12px;

  background: #2c3e50;
  color: #ecf0f1;

  border: 0px;
  border-radius: 3px;

  pointer-events: none;
}

.code {
  display: inline-block;

  font-size: 0.9em;

  padding: 3px 6px;
  margin-top: 3px;

  border: 0px;
  border-radius: 3px;

  font-family: monospace;
  background-color: #ecf0f1;
  color: #e74c3c;
}

.mv-editor {
  float: right;
  width: 30%;
  min-width: 150px;
  padding-right: 10px;
}

.mv-viewmode {
  width: 100%;
  height: 100%;
}

.mv-editmode {
  width: 100%;
  height: 100%;
}

.mv-editmode .node rect:hover {
  fill: #fff70d;
  cursor: pointer;
}

.mv-editmode .node.edit rect {
  fill: #fff70d;
  stroke: skyblue;
}

.mv-editmode .edgePath path {
  stroke-width: 3px;
  padding: 2px;
}

.mv-editmode .edgePath path:hover {
  cursor: pointer;
  stroke: #f1c40f;
  fill: #f1c40f;
}

.mv-editmode .edgePath.edit path {
  stroke: #f1c40f;
  fill: #f1c40f;
}
.mv-editmode .edgeLabels .label :hover {
  cursor: pointer;
  fill: #f1c40f;
}
.mv-editmode .edgeLabels .label.edit {
  fill: #f1c40f;
  font-weight: 600;
}

.mv-editmode .dynamicPath {
  stroke: #f1c40f;
}
